.quote-style {
    background-color: #82bbd1; 
    color: #30292f;
}

.button-js {
    background-color: #0C7489;
    border: 1px solid #210203;
    color: #EDF2F4;
}

.faq-ul {
    text-align: left;
}

.contact {
    margin: 50px;
    /* display: flex;
    justify-content: center; */
}

.contact input, textarea {
    margin-bottom: 10px;
}

.contact textarea {
    height: 100%;
}